[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
maturin = "*"
sphinx = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pydocstyle = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.10"
